*{
    box-sizing: border-box;
}

@font-face {
    font-family: 'bebra';
    src: url(/fonts/RobotoSlab-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'bebra-2';
    src: url(/fonts/Lora-VariableFont_wght.ttf);
}

.header_zg{
    margin: 0;
    margin-left: 10px;
    font-family: 'bebra';
}

.circles{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 0px;
}

.circle_header{
    border: 4px solid rgb(247, 0, 255);
    border-radius: 50%;
    height: 20px;
    width: 20px;  
    margin-right: 10px;
}

.lenta{
    display: grid;
    grid-template-columns: 237.5px 237.5px 237.5px 237.5px 237.5px 237.5px 237.5px 237.5px;
    width: 100%;
    height: 85px;
    background-color: rgba(128, 128, 128, 0.336);
    margin-top: 30px;
    border-radius: 10px;
}

.box_text-1{
    background-color:rgb(151, 29, 151);
    width: 237.5px;
    height: 85px;
    border-radius: 10px;
}

.text-1{
    font-family: 'bebra-2';
    margin: 0;
    text-align: center;
    padding-top: 25px;
    color: aliceblue;
    font-size: 31px;
}

.bigbox {
    height: 200px;
    width: auto;
    background-color: rgba(160, 130, 160, 0.800);
    margin-top: 10px;
    border-radius: 2px;
    border: 1px solid rgb(110, 110, 110, 0.500);
}

.bigtext-1 {
    text-align: left;
    text-indent: 10px;
    font-size: 50px;
    margin-top: -200px;
    color: rgb(50, 20, 40);
}

.bigtext-2 {
    text-align: left;
    font-size: 40px;
    text-indent: 15px;
    color: rgb(50, 20, 40);
}


.fourbox1 {
    height: 85px;
    width: 400px;
    background-color: rgb(185, 150, 185, 0.600);
    margin-top: 95px;
    border-radius: 2px;
    border: 1px solid rgb(110, 110, 110, 0.500);
}

.fourbox2 {
    height: 85px;
    width: 400px;
    background-color: rgb(185, 150, 185, 0.600);
    margin-top: 95px;
    border-radius: 2px;
    border: 1px solid rgb(110, 110, 110, 0.500);
    margin-left: 200px;
}
